/*------------
style elements
------------*/

body {
	background-image: url(gravel.png);
}

strong {
	font-size: 60px;
}

hr {
	border: 3px solid blue;
}

/*------------
style classes
------------*/

/* styling for button images */
.crystal {
	height: 250px;
	width: 250px;
	margin: 0 auto;
	/* padding-top: 20px; */
	border-collapse: collapse;
	display: block;
}

/* game banner */
.banner {
	background-color: aqua;
	color: red;
	text-align: center;
	font-size: 36pt;
	font-family: 'fantasy', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* for spacing using characters */
.trans {
	color: transparent;
}

/* background color for div containing images */
.images {
	background-color: yellow;
	padding: 20px;
}

.orchid {
	background-color: orchid;
	border-collapse: collapse;
}

/* style ids */
#message {
	font-size: 24pt;
	font-weight: bolder;
}
